.contact {
    background-color: #fff0f6;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact p {
    font-size: 18px;
    color: #f08c9b;
    font-weight: bold;
  }
  
  .contact button {
    padding: 8px 15px;
    background-color: #ff8b8b;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: #ff6f6f;
  }
  