body {
  font-family: "Poppins", sans-serif;
  background-color: #f9eef8;
  color: #5d3f44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #f08c9b;
}

h2 {
  font-size: 24px;
  color: #f7a1c3;
}

.container {
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
